.burger-menu {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 728px) {
    .burger-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1000;
    }

    .burger-icon, .close-icon {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
    }

    .burger-icon:hover, .close-icon:hover {
        transform: scale(1.1);
    }

    .close-icon {
        display: none;
    }
    .right-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: -webkit-linear-gradient(45deg, #FDFCFB, #E2D1C3);
        width: 220px;
        height: 640px;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-10px);
        opacity: 0;
    }

    .right-nav.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .right-nav li {
        text-align: center;
        padding: 4px;
        list-style: none;
    }

    .right-nav li:last-child {
        border-bottom: none;
    }

    .right-nav li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 500;
        display: block;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        
    }

    .right-nav li a:hover {
        background: #007bff;
        color: #fff;
        border-radius: 4px;
    }

    .right-nav .hire-me {
        background: #007bff;
        color: #fff;
       
        border-radius: 6px;
        transition: background 0.3s ease-in-out;
    }

    .right-nav .hire-me:hover {
        background: #0056b3;
    }


}


