@media screen and (max-width: 768px) {
    /* General Styling */
    body {
        font-size: 14px;
    }

    /* Header */
    .header {
        height: 65px;
        padding: 10px 15px;
    }

    /* Navigation */
    .right-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        padding: 10px 0;
        text-align: center;
    }

    .right-nav.active {
        display: flex;
    }

    /* Hero Section */
    .hero-section {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-profile {
        width: 70%;
        max-width: 250px;
    }

    /* Text Adjustments */
    .portfolio-heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        font-size: 1rem;
    }

    /* Buttons */
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-resume,
    .btn-contact {
        width: 90%;
        max-width: 250px;
        padding: 10px;
    }

    .about-me-section {
        flex-direction: column; 
        text-align: center; 
        padding: 30px;
        margin-bottom: 150px;
        min-height: auto;
        }

    .about-me-text {
        max-width: 100%;
    }

    .description p {
        font-size: 16px;
        
        text-align: justify;
        line-height: 1.6;
    }
}
