* {
    font-family: "Poppins", sans-serif;
}
/* Header */
.back-site {
    width: 36px;
    padding: 10px 25px; 
    
}
.site-logo-title {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Projects-Section */
.projects{
    font-size: 70px;
    text-align: center;
    margin: -80px;
}

.project {
    color: #F36E4B;
}
